/********************
Chistes
********************/

.contenedor-chistes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-rows: masonry;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border-radius: 20px;
}

article>*:first-child {
    margin: 20px;
    box-sizing: border-box;
}

/********************
Pie de tarjeta
********************/

article div:last-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    font-size: 0.875rem;
    font-weight: bold;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

article div p {
    margin-block: 0;
    font-size: small;
}

article div p:first-child {
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--md-sys-color-on-secondary);
    color: var(--md-sys-color-secondary);
    border-radius: 20px;
}

/********************
Filtros
********************/

.contenedor-filtros {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 8px 16px;
    background-color: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-on-surface);
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    transition: background 300ms;
}

button:hover {
    cursor: pointer;
}

button:hover,
button.seleccionado {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

small {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 25px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border-radius: 100%;
    transition: background-color 200ms;
}

button.seleccionado small {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}