@media (prefers-color-scheme: light) {
    :root {
        --md-sys-color-primary: #1e6d00;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #9ff97c;
        --md-sys-color-on-primary-container: #042100;
        --md-sys-color-secondary: #55624c;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #d8e7cb;
        --md-sys-color-on-secondary-container: #131f0d;
        --md-sys-color-tertiary: #386667;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #bcebed;
        --md-sys-color-on-tertiary-container: #002021;
        --md-sys-color-background: #fdfdf6;
        --md-sys-color-on-background: #1a1c18;
        --md-sys-color-surface: #fdfdf6;
        --md-sys-color-on-surface: #1a1c18;
        --md-sys-color-surface-variant: #dfe4d7;
        --md-sys-color-on-surface-variant: #43483f;
        --md-sys-color-outline: #73796e;
        --md-sys-color-inverse-on-surface: #f1f1ea;
        --md-sys-color-inverse-surface: #2f312d;
        --md-sys-color-inverse-primary: #84db63;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #1e6d00;
        --md-sys-color-surface-tint-color: #1e6d00;

        --md-sys-color-error: #ba1a1a;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-on-error-container: #410002;
    }

    .azul {
        --md-sys-color-primary: #0556cf;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #dae2ff;
        --md-sys-color-on-primary-container: #001847;
        --md-sys-color-secondary: #585e71;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #dce2f9;
        --md-sys-color-on-secondary-container: #151b2c;
        --md-sys-color-tertiary: #735471;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #fed7f9;
        --md-sys-color-on-tertiary-container: #2b122c;
        --md-sys-color-background: #fefbff;
        --md-sys-color-on-background: #1b1b1f;
        --md-sys-color-surface: #fefbff;
        --md-sys-color-on-surface: #1b1b1f;
        --md-sys-color-surface-variant: #e1e2ec;
        --md-sys-color-on-surface-variant: #45464f;
        --md-sys-color-outline: #757780;
        --md-sys-color-inverse-on-surface: #f2f0f4;
        --md-sys-color-inverse-surface: #303034;
        --md-sys-color-inverse-primary: #b2c5ff;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #0556cf;
        --md-sys-color-surface-tint-color: #0556cf;
    }

    .rojo {
        --md-sys-color-primary: #c00000;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #ffdad4;
        --md-sys-color-on-primary-container: #410000;
        --md-sys-color-secondary: #775651;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #ffdad4;
        --md-sys-color-on-secondary-container: #2c1512;
        --md-sys-color-tertiary: #705c2e;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #fbdfa6;
        --md-sys-color-on-tertiary-container: #251a00;
        --md-sys-color-background: #fffbff;
        --md-sys-color-on-background: #201a19;
        --md-sys-color-surface: #fffbff;
        --md-sys-color-on-surface: #201a19;
        --md-sys-color-surface-variant: #f5ddda;
        --md-sys-color-on-surface-variant: #534341;
        --md-sys-color-outline: #857370;
        --md-sys-color-inverse-on-surface: #fbeeec;
        --md-sys-color-inverse-surface: #362f2e;
        --md-sys-color-inverse-primary: #ffb4a8;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #c00000;
        --md-sys-color-outline-variant: #d8c2be;
        --md-sys-color-scrim: #000000;
    }

    .amarillo {
        --md-sys-color-primary: #6c5e00;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #f9e366;
        --md-sys-color-on-primary-container: #211c00;
        --md-sys-color-secondary: #655f41;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #ece3bc;
        --md-sys-color-on-secondary-container: #201c05;
        --md-sys-color-tertiary: #426650;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #c3ecd0;
        --md-sys-color-on-tertiary-container: #002111;
        --md-sys-color-background: #fffbff;
        --md-sys-color-on-background: #1d1c16;
        --md-sys-color-surface: #fffbff;
        --md-sys-color-on-surface: #1d1c16;
        --md-sys-color-surface-variant: #e9e2d0;
        --md-sys-color-on-surface-variant: #4a4739;
        --md-sys-color-outline: #7b7768;
        --md-sys-color-inverse-on-surface: #f5f0e7;
        --md-sys-color-inverse-surface: #32302a;
        --md-sys-color-inverse-primary: #dcc74d;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #6c5e00;
        --md-sys-color-outline-variant: #ccc6b5;
        --md-sys-color-scrim: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: #84db63;
        --md-sys-color-on-primary: #0c3900;
        --md-sys-color-primary-container: #155200;
        --md-sys-color-on-primary-container: #9ff97c;
        --md-sys-color-secondary: #bccbb0;
        --md-sys-color-on-secondary: #273421;
        --md-sys-color-secondary-container: #3d4b36;
        --md-sys-color-on-secondary-container: #d8e7cb;
        --md-sys-color-tertiary: #a0cfd0;
        --md-sys-color-on-tertiary: #003738;
        --md-sys-color-tertiary-container: #1e4e4f;
        --md-sys-color-on-tertiary-container: #bcebed;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error: #690005;
        --md-sys-color-on-error-container: #ffdad6;
        --md-sys-color-background: #1a1c18;
        --md-sys-color-on-background: #e3e3dc;
        --md-sys-color-surface: #1a1c18;
        --md-sys-color-on-surface: #e3e3dc;
        --md-sys-color-surface-variant: #43483f;
        --md-sys-color-on-surface-variant: #c3c8bb;
        --md-sys-color-outline: #8d9387;
        --md-sys-color-inverse-on-surface: #1a1c18;
        --md-sys-color-inverse-surface: #e3e3dc;
        --md-sys-color-inverse-primary: #1e6d00;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #84db63;
        --md-sys-color-surface-tint-color: #84db63;
    }

    .azul {
        --md-sys-color-primary: #b2c5ff;
        --md-sys-color-on-primary: #002c72;
        --md-sys-color-primary-container: #0040a0;
        --md-sys-color-on-primary-container: #dae2ff;
        --md-sys-color-secondary: #c0c6dd;
        --md-sys-color-on-secondary: #2a3042;
        --md-sys-color-secondary-container: #404659;
        --md-sys-color-on-secondary-container: #dce2f9;
        --md-sys-color-tertiary: #e1bbdd;
        --md-sys-color-on-tertiary: #412742;
        --md-sys-color-tertiary-container: #5a3d59;
        --md-sys-color-on-tertiary-container: #fed7f9;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error: #690005;
        --md-sys-color-on-error-container: #ffdad6;
        --md-sys-color-background: #1b1b1f;
        --md-sys-color-on-background: #e4e2e6;
        --md-sys-color-surface: #1b1b1f;
        --md-sys-color-on-surface: #e4e2e6;
        --md-sys-color-surface-variant: #45464f;
        --md-sys-color-on-surface-variant: #c5c6d0;
        --md-sys-color-outline: #8f9099;
        --md-sys-color-inverse-on-surface: #1b1b1f;
        --md-sys-color-inverse-surface: #e4e2e6;
        --md-sys-color-inverse-primary: #0556cf;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #b2c5ff;
        --md-sys-color-surface-tint-color: #b2c5ff;
    }

    .rojo {
        --md-sys-color-primary: #ffb4a8;
        --md-sys-color-on-primary: #690000;
        --md-sys-color-primary-container: #930000;
        --md-sys-color-on-primary-container: #ffdad4;
        --md-sys-color-secondary: #e7bdb6;
        --md-sys-color-on-secondary: #442925;
        --md-sys-color-secondary-container: #5d3f3b;
        --md-sys-color-on-secondary-container: #ffdad4;
        --md-sys-color-tertiary: #dec48c;
        --md-sys-color-on-tertiary: #3e2e04;
        --md-sys-color-tertiary-container: #564419;
        --md-sys-color-on-tertiary-container: #fbdfa6;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error: #690005;
        --md-sys-color-on-error-container: #ffdad6;
        --md-sys-color-background: #201a19;
        --md-sys-color-on-background: #ede0dd;
        --md-sys-color-surface: #201a19;
        --md-sys-color-on-surface: #ede0dd;
        --md-sys-color-surface-variant: #534341;
        --md-sys-color-on-surface-variant: #d8c2be;
        --md-sys-color-outline: #a08c89;
        --md-sys-color-inverse-on-surface: #201a19;
        --md-sys-color-inverse-surface: #ede0dd;
        --md-sys-color-inverse-primary: #c00000;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #ffb4a8;
        --md-sys-color-outline-variant: #534341;
        --md-sys-color-scrim: #000000;
    }

    .amarillo {
        --md-sys-color-primary: #dcc74d;
        --md-sys-color-on-primary: #383000;
        --md-sys-color-primary-container: #514700;
        --md-sys-color-on-primary-container: #f9e366;
        --md-sys-color-secondary: #d0c7a2;
        --md-sys-color-on-secondary: #353116;
        --md-sys-color-secondary-container: #4c472b;
        --md-sys-color-on-secondary-container: #ece3bc;
        --md-sys-color-tertiary: #a8d0b5;
        --md-sys-color-on-tertiary: #123724;
        --md-sys-color-tertiary-container: #2a4e3a;
        --md-sys-color-on-tertiary-container: #c3ecd0;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error: #690005;
        --md-sys-color-on-error-container: #ffdad6;
        --md-sys-color-background: #1d1c16;
        --md-sys-color-on-background: #e7e2d9;
        --md-sys-color-surface: #1d1c16;
        --md-sys-color-on-surface: #e7e2d9;
        --md-sys-color-surface-variant: #4a4739;
        --md-sys-color-on-surface-variant: #ccc6b5;
        --md-sys-color-outline: #959180;
        --md-sys-color-inverse-on-surface: #1d1c16;
        --md-sys-color-inverse-surface: #e7e2d9;
        --md-sys-color-inverse-primary: #6c5e00;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #dcc74d;
        --md-sys-color-outline-variant: #4a4739;
        --md-sys-color-scrim: #000000;
    }
}

/********************
Estructura
********************/

html {
    color-scheme: light dark;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    font-family: system-ui;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: min(100ch, 100%);
    padding: 5px 30px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    text-align: center;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

@media (min-width: 500px) {
    header {
        position: sticky;
        top: 0;
    }
}

main {
    width: 100%;
    max-width: 100ch;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-inline: 20px;
}

/********************
Texto
********************/

h1 {
    margin-right: auto;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.125rem;
}

a {
    color: inherit;
}

/********************
Multimedia
********************/

img,
audio,
video {
    display: block;
    margin: 1em auto;
}

img,
video {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

audio {
    max-width: 100%;
}

/********************
Botones
********************/

button,
input::file-selector-button,
a.icono {
    border-radius: 20px;
    border-color: transparent;
    transition: opacity 300ms;
    cursor: pointer;
}

button {
    padding: 8px 24px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    font-weight: bold;
}

input::file-selector-button {
    padding: 4px 10px;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

button:hover,
input::file-selector-button:hover,
a.icono:hover {
    opacity: 0.85;
}

button:active,
input::file-selector-button:active,
a.icono:active {
    opacity: 0.7;
}

.icono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
}

button.icono span {
    width: 100%;
    text-align: center;
}

a.icono {
    background-color: var(--md-sys-color-primary);
    justify-content: center;
}

.icono svg {
    fill: var(--md-sys-color-on-primary);
}