@media (prefers-color-scheme: light) {
    :root {
        --primary: #1e6d00;
        --on-primary: #ffffff;
        --primary-container: #9ff97c;
        --on-primary-container: #042100;
        --secondary: #55624c;
        --on-secondary: #ffffff;
        --secondary-container: #d8e7cb;
        --on-secondary-container: #131f0d;
        --tertiary: #386667;
        --on-tertiary: #ffffff;
        --tertiary-container: #bcebed;
        --on-tertiary-container: #002021;
        --error: #ba1a1a;
        --error-container: #ffdad6;
        --on-error: #ffffff;
        --on-error-container: #410002;
        --background: #fdfdf6;
        --on-background: #1a1c18;
        --surface: #fdfdf6;
        --on-surface: #1a1c18;
        --surface-variant: #dfe4d7;
        --on-surface-variant: #43483f;
        --outline: #73796e;
        --inverse-on-surface: #f1f1ea;
        --inverse-surface: #2f312d;
        --inverse-primary: #84db63;
        --shadow: #000000;
        --surface-tint: #1e6d00;
        --surface-tint-color: #1e6d00;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #84db63;
        --on-primary: #0c3900;
        --primary-container: #155200;
        --on-primary-container: #9ff97c;
        --secondary: #bccbb0;
        --on-secondary: #273421;
        --secondary-container: #3d4b36;
        --on-secondary-container: #d8e7cb;
        --tertiary: #a0cfd0;
        --on-tertiary: #003738;
        --tertiary-container: #1e4e4f;
        --on-tertiary-container: #bcebed;
        --error: #ffb4ab;
        --error-container: #93000a;
        --on-error: #690005;
        --on-error-container: #ffdad6;
        --background: #1a1c18;
        --on-background: #e3e3dc;
        --surface: #1a1c18;
        --on-surface: #e3e3dc;
        --surface-variant: #43483f;
        --on-surface-variant: #c3c8bb;
        --outline: #8d9387;
        --inverse-on-surface: #1a1c18;
        --inverse-surface: #e3e3dc;
        --inverse-primary: #1e6d00;
        --shadow: #000000;
        --surface-tint: #84db63;
        --surface-tint-color: #84db63;
    }
}

/********************
Estructura
********************/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    background-color: var(--background);
    color: var(--on-background);
    font-family: Segoe UI, Noto Sans, Roboto, BlinkMacSystemFont, sans-serif;
}

header {
    width: fit-content;
    padding: 5px 25px 5px 20px;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    text-align: center;
    border-radius: 0 0 20px 20px;
}

main,
footer {
    display: flex;
    flex-direction: column;
    max-width: 100ch;
    box-sizing: border-box;
}

main {
    gap: 20px;
    padding-inline: 20px;
    margin-bottom: 20px;
}

footer {
    gap: 10px;
    padding: 10px 30px 20px 30px;
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    border-radius: 20px 20px 0 0;
}

/********************
Texto
********************/

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

a {
    color: inherit;
}

/********************
Multimedia
********************/

img,
audio,
video {
    display: block;
    margin: 1em auto;
}

img,
video {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

audio {
    max-width: 100%;
}
