@import url(common.css);

/********************
Cita
********************/

blockquote {
    margin-top: 2em;
    font-style: italic;
    text-align: center;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/********************
Botones
********************/

button,
input::file-selector-button {
    border-radius: 20px;
    border-color: transparent;
    transition: opacity 300ms;
}

button {
    padding: 8px 24px;
    background-color: var(--primary);
    color: var(--on-primary);
    font-weight: bold;
}

input::file-selector-button {
    padding: 4px 10px;
    background-color: var(--secondary);
    color: var(--on-secondary);
}

button:hover,
input::file-selector-button:hover {
    opacity: 0.85;
    cursor: pointer;
}

/********************
Colores
********************/

.contenedor-colores {
    display: flex;
    gap: 8px;
}

.color {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--outline);
}

/********************
Gráficas
********************/

.contenedor-grafica {
    position: relative;
    max-width: 90ch;
    width: 90vw;
    min-height: 200px;
    max-height: 45ch;
    height: 40vw;
    margin-block: 30px;
}

@media (prefers-color-scheme: dark) {
    canvas {
        filter: invert(1) hue-rotate(180deg) brightness(1.1);
    }
}

/********************
Chistes
********************/

.contenedor-chistes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    grid-template-rows: masonry;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: 20px;
}

article > p:last-child {
    width: fit-content;
    margin-left: auto;
    padding: 5px 10px;
    background-color: var(--secondary);
    color: var(--on-secondary);
    font-size: small;
    border-radius: 15px;
}

section > button:last-child {
    display: block;
    margin-inline: auto;
    margin-top: 15px;
}

/********************
Maneo
********************/

.contenedor-maneo {
    display: grid;
    grid-template-rows: 200px;
    grid-auto-flow: column;
    gap: 10px;
    max-width: 90vw;
    overflow-x: scroll;
}

.contenedor-maneo img {
    margin: 0;
    height: 200px;
    width: auto;
    max-width: none;
}

/********************
Formulario
********************/

.contenedor-formulario {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    align-items: center;
    gap: 20px;
}

.contenedor-formulario > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--surface);
    border: 1px solid var(--outline);
    color: var(--on-surface);
    border-radius: 10px;
}

input[type="text"],
input[type="file"],
textarea {
    font-family: inherit;
}

input:focus-visible,
textarea:focus-visible {
    outline-color: var(--secondary);
}

form > button {
    margin-inline: auto;
    font-weight: bold;
}

/********************
Transiciones
********************/

body,
header,
article {
    transition: background 300ms;
}
